<h1 class="text-2xl text-center font-bold w-full border-b-2 mb-4">Lista</h1>

<ul class="w-full">
  <li
    class="w-full flex gap-2 justify-between items-center border-b-2 p-2 hover:bg-slate-200 transition-all rounded-xl"
    *ngFor="let item of items | async; index as i; let l = count"
  >
    <div class="flex flex-col justify-center items-center w-fit">
      <button
        (click)="onClickSwitch(i, 1)"
        [disabled]="i <= 0"
        class="disabled:text-slate-100"
      >
        <span class="material-symbols-outlined text-xl"> arrow_drop_up </span>
      </button>
      <button
        (click)="onClickSwitch(i, -1)"
        [disabled]="i >= l - 1"
        class="disabled:text-slate-100"
      >
        <span class="material-symbols-outlined text-xl"> arrow_drop_down </span>
      </button>
    </div>
    <span class="uppercase w-full"
      >({{ item.id }}) {{ item.nome }} {{ i }}, {{ l }}</span
    >
    <div class="flex flex-row gap-2">
      <button
        (click)="onClickEdit(item.id)"
        class="flex justify-center items-center text-xl bg-green-300 hover:bg-green-500 h-10 w-10 rounded-xl p-1 hover:cursor-pointer hover:text-white transition-all"
      >
        <span class="material-symbols-outlined"> edit </span>
      </button>
      <button
        (click)="onClickDelete(item.id)"
        class="flex justify-center items-center text-xl bg-red-300 hover:bg-red-500 h-10 w-10 rounded-xl p-1 hover:cursor-pointer hover:text-white transition-all"
      >
        <span class="material-symbols-outlined text-xl"> delete_forever </span>
      </button>
    </div>
  </li>
</ul>

<div class="mt-4 flex flex-row justify-between items-center">
  <button
    (click)="onClickSaveNewOrder()"
    class="bg-slate-600 flex flex-row justify-center items-center p-3 rounded-xl text-white text-sm hover:bg-slate-300 hover:text-slate-800 transition-all"
  >
    Salvar Nova Ordem
  </button>
  <button
    (click)="onClickAddForm()"
    class="bg-green-600 flex flex-row justify-center items-center p-3 rounded-xl text-white text-sm hover:bg-green-300 hover:text-slate-800 transition-all"
  >
    <span class="material-symbols-outlined"> add </span> Adicionar
  </button>
</div>
